.grassfield{
    background-color: #A8DF8E;
    height: 700px;
    
    text-align: center;
    font-size: 50px;
    left: 0;
    right: 0;
    top: 0;
    font-family: "Manrope";
    position: absolute;
    padding-bottom: 50px;
    
  }


  .aiilogo{
    width: 200px;
    position: absolute;
    right: 30px;
    top: 20px;
    z-index: 1;
  }

  .tree{
    width: 170px;
    margin-top: 200px;
    position: relative;
    margin-left: 160px;
  }

  .tree2{
    width: 170px;
    margin-top: 200px;
    position: absolute;
    margin-right: 160px;
    right: 0;
  }

  .river{
    
    width: 500px;
    position: relative;
    
    
  }

  .name{
    position: relative;
    color: white;
    font-family: cursive;
    font-size: 70px;
  }

  .status{
    position: relative;
    color: white;
    font-family: cursive;
    font-size: 70px;
    
  }

  .sun{
    top: 0;
    left: 0;
    width: 200px;
    position: absolute;
  }


  .puppy{
    width: 170px;
    border-radius: 100px;
    position: relative;
    text-align: center;
    
  
    
  }

  .introduction{
    margin-top: 390px;
    text-align: center;
    left: 0;
    right: 0;
    position: absolute;
    
  }

  .hello{
    text-align: center;
    margin-top: 50px;
    color: #445D48;
    font-size: 50px;
    font-family: Monaco;
    position: relative;
  }

  .welcome{
    text-align: center;
    font-size: 20px;
    position: relative;
    width: 30%;
    margin: auto;
    margin-top: 10px;
    
  }

  .skills{
    position: relative;
    font-size: 50px;
    font-family: Monaco;
    margin-top: 150px;
    color: #445D48;
  }

  .Home{
    left: 0px;
    position: absolute;
    margin-left: 200px;
    z-index: 1;
    font-size: 35px;
    cursor: pointer;
    color: #39A7FF;
  }

  .Code{
    left: 0;
    position: absolute;
    z-index: 1;
    margin-left: 350px;
    font-size: 35px;
    cursor: pointer;
    color: #39A7FF;
  }

  a:hover{
    color: #7071E8;
  }

  .programmer{
    position: relative;
    color: #445D48;
    font-size: 30px;
    font-family: Monaco;

  }

  .gif{
    width: 200px;
    position: relative;        
    margin-top: 150px; 
    
  }

  .programmer2{
    font-size: 20px;
    width: 30%;
    margin: auto;
    margin-top: 10px;
  }

  .learning{
    width: 200px;
    margin-top: 200px;
  }

  .learning2{
    position: relative;
    color: #445D48;
    font-size: 30px;
    font-family: Monaco;
  }

  .learning3{
    font-size: 20px;
    width: 30%;
    margin: auto;
    margin-top: 10px;
  }

  .getintouch{
    font-size: 50px;
    margin-top: 200px;
    color: #445D48;
    font-family: Monaco;
  }

  .talking{
    font-size: 22px;
    width: 30%;
    margin: auto;
    margin-top: 30px;
    color: #445D48;
  }

  .contactme{
    font-size: 20px;
    margin-top: 90px;
    width: 30%;
    font-family: Monaco;
    margin: auto;
    margin-bottom: 100px;
    
    
    
  }

  .email{
    margin-top: 100px;
    border: solid gray 1px;
    background-color: #98EECC;
    color: white;
    font-size: 30px;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    
  }

  .email:hover{
    border: solid gray 1px;
    border-radius: 15px;
    background-color: #00FFAB;
    color: white;
  }

  .container3{
    position: absolute;
    background-color: #A8DF8E;
    left: 0;
    right: 0;
    margin-top: 300px;
    height: 125px;
  }

  .telegram{
    font-size: 25px;
    color: #445D48;
  }

  .telegram:hover{
    color: white;
  }

  .copyright{
    color: white;
    margin-top: 40px;
  }

  .reference{
    position: relative;
    font-size: 25px;  
  }

  .reference:hover{
    color: white;
  }